<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests">
  <test name="TestIOS">
  	<parameter name="deviceQuery" value="@os='ios' and @category='PHONE' and @serialnumber='bea833242abf5311cd1715fc515b0f96250ab8c2'"/>
    <classes>
      <class name="com.experitest.auto.IOSDemoTest"/>
    </classes>
  </test> <!-- Test -->
  <test name="TestAndroid">
  	<parameter name="deviceQuery" value="@os='android' and @category='PHONE' and @serialnumber='LGH85056416a94'"/>
    <classes>
      <class name="com.experitest.auto.AndroidDemoTest"/>
    </classes>
  </test>
</suite> <!-- Suite -->
